 
 *{
   margin:0;
   padding:0;
 }
 html{
 height:100%;
 }
body {
  width:100%;
  height:100%;
}
.carousel-item {
	height:80vh;
	min-height:100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.icon{
	margin-left:12%;
}
.top-header-about-section{
	width:70%;
	margin-left:15%;
	background-color:rgb(0,0,0,0.5);
	border-top:10px solid red;
}


.portfolio-item {
  margin-bottom: 30px;
}
.wrapper{
	mix-height:100%;
	/*relative position
	*/
}
.content{
   
   padding-bottom:100px;
}
#footer{
	position:relative;
	height:100px;
	margin-top:-100px;
	clear:both;
}

.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: white;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}
/* Vertical line */
.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: white;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}
#list-footer li {
	margin-left:30%;
	list-style:none;
}
#footer-header{
	margin-left:30%;
}
#list-footer li a{
	list-style:none;
}
.quick-link-items li a{
	color:white;
}
#list-footer li{
	color:white;
	list-style:none;
}
#list-footer li .footer-icons{
	height:20px;
	width:20px;
	margin-top:10px;
}
.help-block{
	color:#ff0000;
}
.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

#services-section{
	 height:400px;
	 background-image:url('http://placehold.it/1000x700');
	  background-repeat: no-repeat;
	  background-size: cover;
}

#services-section h1{
  position:absolute;
  bottom:200px;
  left:150px;
  
}
#services-section h3{
  position:absolute;
  bottom:200px;
  left:150px;
  
}

#services-section p{
  position:absolute;
  bottom:150px;
  left:150px;
  
}
#services-button{
	position:absolute;
	bottom:100px;
	
}
#read-button{
	position:absolute;
	bottom:60px;
}

#more-services-button{
	border:2px solid blue;
}
#more-services-button:hover{
	background-color:rgb(0,0,255,0.5);
	color:white;
}

#icon-images{
	height:35px;
	width:30px;
}
.containeer{
	position:relative;
}

.overlay{
	position:absolute;
	transition: all .3s ease;
	opacity:0;
	background-color:#eee;
}

.containeer:hover .overlay{
	opacity:0.7;
}
.text{
	color:blue;
	font-family:sans-serif;
	position:absolute;
	top:30%;
	left:30%;
	transform:translate(-30%,-30%);
	font-size:20px;	
}
.overlayLeft{
	height:81%;
	width:0;
	top:0;
	left:10;
	
}
.containeer:hover .overlayLeft{
	width:90%;
}
#contact-form{
	margin-bottom:200px;
}

#section-contact{
	 margin-top:100px;
}
#tab-border{
	border:none;
}
#tab-border #tab-border-link{
	border:none;
}
#tab-border-drop{
	border:none;
}
#bad-border-list{
	border:none;
}
#about-us-picture-background{
	height:400px; 
	background-image:url('http://placehold.it/1000x400');
	 background-repeat: no-repeat;
	  background-size: cover;
}
#top-header-about{
 height:90%; 
 margin-top:-100px;
}
#project-top-section-image{
	height:400px;
	 background-image:url('http://placehold.it/1000x700');
	  background-repeat: no-repeat;
	  background-size: cover;
	  margin-bottom:5%;
}
#dataTableImages{
   	width:150px;
   	height:100px;
}
#singlePageProjectImage{
	width:500px;;
	height:500%;
}
#errorImage{
	width:150px;;
	height:150px;
}
.jumbotron{
	background-color:rgb(0,0,0,0.001);
	border-bottom:1px solid red;
	padding-bottom:20px;
}
#imageForOurRequest{
	height:100px; 
	background-image:url('http://placehold.it/1000x700');
	  background-repeat: no-repeat;
	  background-size: cover;
}
#acodion-icon{
	color:red;
}
#about_us_left_border{
	border-left:10px solid red;
}
#findMoreAboutUsButton{
	border:2px solid #008CBA;
	color:blue;
}
#findMoreServicesUsButton{
	border:2px solid #008CBA;
	color:blue;
}
#services-section-home{
	background-color:rgb(220,220,220,0.2);
}
#our_best_services_border{
	border-left:10px solid red;
}
#panel-services-section-home{
	border:5px solid white;
}
#imageForProjectCount{
	 background-color:grey;
	 height:100px;
}
#testimonial-section{
	background-color:rgb(0,140,186,0,3);
}
div.blog-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.white-bg{
    background:#ffffff !important;
}
.btn-success{
	margin-top:10px;
	width:100%;
	
}
div.blog-card-cat{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.recent-image-blog{
	width:300px;
	height:300px;
}































